openapi: 3.1.0
info:
  title: fetch-proxy
  version: 1.0.0
  description: |
    CORS-enabled fetch proxy running on Cloudflare Workers.

    プロキシ形式: `GET https://fetch.nibo.sh/<host>/<path>?as=html|meta|md`

    * `as=html` (default) — オリジンの HTML をそのままプロキシ（CORS 付与）
    * `as=meta` — `<title>` と OGP メタ情報を JSON で返却

    `as=meta` は、オリジン HTML に `og:title` も `<title>` も無い場合
    （クライアントサイドレンダリングの SPA など）、defuddle の JSON-LD / schema.org 抽出、
    続いて Browser Rendering (`quickAction('content')`) でレンダリング後の DOM から再抽出します。

    取得経路は `renderer` (短縮形 `r`) で優先順に指定できます。既定は `fetch,chromium` で、
    先頭から順に試して失敗したら次へフォールバックします。実際に応答したレンダラは
    `X-Renderer`、試行順と結果は `X-Renderer-Chain` レスポンスヘッダで返ります。

    オリジンがリダイレクトする場合（例: Google の共有短縮URL `share.google/*`）、
    プロキシはリダイレクトを追従して最終ページを取得し、その最終URLを
    レスポンスの `finalUrl` として返します。

    YouTube の動画 URL (`youtu.be/<id>`, `watch?v=`, `shorts`, `live`, `embed`) は例外で、
    `as=meta` はオリジンではなく oEmbed (`https://www.youtube.com/oembed`) からタイトルを取得します。
    YouTube は Worker からの watch ページ取得に CAPTCHA 画面 (429) を返すためです。
    * `as=md` — `defuddle` で Markdown 変換、失敗時は Browser Rendering (`BROWSER` binding の `quickAction('markdown')`) にフォールバック

    追加のクエリパラメータは `as` / `renderer` / `r` 以外すべて `https://<host>/<path>?<forwarded>` として転送されます。
    `https://` / `http://` プレフィックス付きのパス (`/https://example.com/foo`) も許容し、自動で剥離します。
  contact:
    name: mpppk
    url: https://github.com/mpppk/fetch-proxy
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://fetch.nibo.sh
    description: Production (wrangler.jsonc routes)
  - url: https://fetch-proxy.workers.dev
    description: workers.dev (workers_dev=true)

security: [] # public API, no auth

tags:
  - name: proxy
    description: Fetch proxy operations
  - name: meta
    description: Health / usage

paths:
  /:
    get:
      tags: [meta]
      summary: Usage / health check
      description: |
        `as` パラメータなしで `/` にアクセスすると利用方法を返す。
        `as` 付きやパスが `/` のままの場合は 400 を返すプロキシロジックと共通。
      operationId: getRoot
      responses:
        '200':
          description: Usage text
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/CorsAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/CorsAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/CorsMaxAge'
          content:
            text/plain:
              schema:
                type: string
                example: 'fetch-proxy: use /<host>/<path>?as=html|meta|md&r=fetch,chromium,kitesurf'
        '400':
          $ref: '#/components/responses/BadRequest'

  /{proxyPath}:
    parameters:
      - name: proxyPath
        in: path
        required: true
        description: |
          転送先ホスト＋パス。例: `example.com/foo/bar`, `example.com/foo/bar/baz`, `https://example.com/foo` も可（`https://` は剥離して `https://` で再構築）。
          クエリは `?` 以降として別途転送される。空白を含めると 400。
        schema:
          type: string
          pattern: '^[^\s]+$'
        example: example.com/articles/123
        # OpenAPI 3.1 ではパスにスラッシュを含むキャッチオールを厳密に表現できないため、
        # ここでは 1 セグメント以上を含む greedy パスとして文書化する。
        # 実装: src/index.ts:192 で `pathname.slice(1)` を `hostAndPath` として扱う。

    get:
      tags: [proxy]
      summary: Proxy GET (html | meta | md)
      operationId: proxyGet
      parameters:
        - name: as
          in: query
          required: false
          description: |
            レスポンス形式。省略時 `html`。複数回指定すると 400。
          schema:
            type: string
            enum: [html, meta, md]
            default: html
          example: md
        - name: renderer
          in: query
          required: false
          description: |
            取得経路を優先順に並べたチェーン。先頭から順に試し、失敗したら次へフォールバックする。
            省略時は `fetch,chromium`。

            * `fetch` — オリジンへの素の HTTP GET。`as=html` はそのまま返し、`as=meta` は
              `extractMeta()`（空なら defuddle の JSON-LD / schema.org 抽出）、`as=md` は defuddle で変換する。
              オリジンが 403/429 を返した場合のみチェーンを継続し、それ以外の非 2xx はそのまま中継する。
            * `chromium` — Browser Run の標準エンジン。`BROWSER` binding 経由。
            * `kitesurf` — Cloudflare の軽量 agent-first ブラウザ。Browser Run REST API
              (`?browser=kitesurf`) 経由でのみ選択できるため `CF_ACCOUNT_ID` + `BROWSER_API_TOKEN` が必要。
              未設定なら失敗として次のレンダラに進む（暗黙に chromium へは落ちない）。

            繰り返し指定 (`?r=kitesurf&r=chromium`)・カンマ区切り (`?r=kitesurf,chromium`)・両者の混在のいずれも可で、
            指定順がそのままチェーン順になる。同じレンダラの重複指定は 400。
            短縮形 `r` と同義（両方を同時に指定すると 400）。転送先 URL には付与されない。
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [fetch, chromium, kitesurf]
            default: [fetch, chromium]
          example: [kitesurf, chromium]
        - name: r
          in: query
          required: false
          description: '`renderer` の短縮形。両方を同時に指定すると 400。'
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [fetch, chromium, kitesurf]
            default: [fetch, chromium]
          example: [kitesurf, chromium]
        - name: forwardedQuery
          in: query
          required: false
          description: |
            `as` / `renderer` / `r` 以外の任意のクエリパラメータはそのまま転送先 URL に付与される。
            例: `/example.com/search?q=hello&lang=ja&as=md` → `https://example.com/search?q=hello&lang=ja`
          schema:
            type: string
          explode: true
          allowReserved: true
      responses:
        '200':
          description: |
            成功。`as` により Content-Type が変わる:
            * `html` → `text/html; charset=utf-8`
            * `meta` → `application/json; charset=utf-8`
            * `md` → `text/markdown; charset=utf-8`
            オリジンがエラーステータスでない限り 200。オリジンが 4xx/5xx の場合はそのステータスをそのまま中継する（下記 `4XX`/`5XX` 参照）。
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/CorsAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/CorsAllowHeaders'
            Access-Control-Expose-Headers:
              $ref: '#/components/headers/CorsExposeHeaders'
            Content-Type:
              $ref: '#/components/headers/ContentType'
            X-Renderer:
              $ref: '#/components/headers/XRenderer'
            X-Renderer-Chain:
              $ref: '#/components/headers/XRendererChain'
          content:
            text/html:
              schema:
                type: string
              examples:
                html:
                  summary: as=html
                  value: '<!DOCTYPE html><html><head><title>Example</title></head><body>...</body></html>'
            application/json:
              schema:
                $ref: '#/components/schemas/PageMeta'
              examples:
                meta:
                  summary: as=meta
                  value:
                    title: 'jack on X: "just setting up my twttr" / X'
                    ogTitle: 'jack (@jack) on X'
                    ogDescription: 'just setting up my twttr'
                    ogSiteName: 'X (formerly Twitter)'
                    ogImage: 'https://pbs.twimg.com/profile_images/1661201415899951105/azNjKOSH_400x400.jpg'
                    description: 'just setting up my twttr'
                    finalUrl: 'https://x.com/jack/status/20'
            text/markdown:
              schema:
                type: string
              examples:
                markdown:
                  summary: as=md (defuddle or Browser Rendering)
                  value: |
                    # Example Domain

                    This domain is for use in illustrative examples...
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'
        '4XX':
          description: Origin 4xx proxied as-is (CORS headers added)
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
            Content-Type:
              $ref: '#/components/headers/ContentType'
            X-Renderer:
              $ref: '#/components/headers/XRenderer'
            X-Renderer-Chain:
              $ref: '#/components/headers/XRendererChain'
          content:
            text/plain:
              schema:
                type: string
            text/html:
              schema:
                type: string
        '5XX':
          description: Origin 5xx proxied as-is or fetch failure
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
          content:
            text/plain:
              schema:
                type: string

    head:
      tags: [proxy]
      summary: Proxy HEAD (same routing as GET)
      operationId: proxyHead
      parameters:
        - name: as
          in: query
          required: false
          schema:
            type: string
            enum: [html, meta, md]
            default: html
        - name: renderer
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [fetch, chromium, kitesurf]
            default: [fetch, chromium]
        - name: r
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [fetch, chromium, kitesurf]
            default: [fetch, chromium]
      responses:
        '200':
          description: HEAD success (headers only, no body per HTTP spec)
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/CorsAllowMethods'
            Content-Type:
              $ref: '#/components/headers/ContentType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'

    options:
      tags: [proxy]
      summary: CORS preflight
      operationId: proxyOptions
      responses:
        '204':
          description: No Content - CORS preflight success
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/CorsAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/CorsAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/CorsAllowHeaders'
            Access-Control-Max-Age:
              $ref: '#/components/headers/CorsMaxAge'

components:
  headers:
    CorsAllowOrigin:
      description: CORS allow origin
      schema:
        type: string
        example: '*'
    CorsAllowMethods:
      description: CORS allow methods
      schema:
        type: string
        example: 'GET, HEAD, OPTIONS'
    CorsAllowHeaders:
      description: CORS allow headers
      schema:
        type: string
        example: '*'
    CorsMaxAge:
      description: CORS max age seconds
      schema:
        type: string
        example: '86400'
    ContentType:
      description: Content-Type
      schema:
        type: string
        example: 'text/html; charset=utf-8'
    CorsExposeHeaders:
      description: Response headers a cross-origin caller is allowed to read
      schema:
        type: string
        example: 'X-Renderer, X-Renderer-Chain'
    XRenderer:
      description: |
        レンダラチェーンのうち実際に結果を返したもの。`as=meta` の YouTube oEmbed 経路は `oembed`。
        全レンダラが失敗した場合は付与されない。
      schema:
        type: string
        example: 'kitesurf'
    XRendererChain:
      description: |
        試行したレンダラと結果を試行順にカンマ区切りで列挙する。
        `ok` = 応答した / `empty` = 正常終了したが中身が空（チェーンは継続するが、
        最後まで何も見つからなければこの結果を返す） / `failed` = エラーまたは結果なし。
        指定されても到達しなかったレンダラは現れない。
      schema:
        type: string
        example: 'fetch=empty,kitesurf=ok'

  responses:
    BadRequest:
      description: Bad Request - validation error
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/CorsAllowOrigin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/CorsAllowMethods'
        Content-Type:
          $ref: '#/components/headers/ContentType'
      content:
        text/plain:
          schema:
            type: string
          examples:
            missingHost:
              summary: missing target host
              value: 'missing target host: use /<host>/<path>'
            invalidHost:
              summary: invalid host (space or URL parse fail)
              value: 'invalid target host'
            invalidUrl:
              summary: invalid URL
              value: 'invalid target URL'
            duplicateAs:
              summary: duplicate as
              value: 'as parameter cannot be specified multiple times'
            invalidAs:
              summary: invalid as value
              value: 'invalid as value: foo. allowed: html, meta, md'
            invalidRenderer:
              summary: invalid renderer value
              value: 'invalid renderer value: webkit. allowed: fetch, chromium, kitesurf'
            duplicateRenderer:
              summary: renderer repeated within the chain
              value: 'duplicate renderer in r: chromium'
            emptyRenderer:
              summary: empty renderer value
              value: 'empty renderer value in r'
            bothRendererAndR:
              summary: renderer and r used together
              value: 'specify either renderer or r, not both'
            removedBrowser:
              summary: removed browser parameter
              value: 'browser parameter has been removed. use r=chromium or r=kitesurf (repeatable or comma-separated)'
    BadGateway:
      description: Bad Gateway - every renderer in the chain failed
      headers:
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/CorsAllowOrigin'
        Content-Type:
          $ref: '#/components/headers/ContentType'
        X-Renderer-Chain:
          $ref: '#/components/headers/XRendererChain'
      content:
        text/plain:
          schema:
            type: string
          examples:
            fetchFail:
              summary: the origin fetch threw
              value: 'failed to fetch target: ...'
            mdFail:
              summary: no renderer produced markdown
              value: 'failed to convert to markdown: all renderers failed (fetch, chromium)'
            chainFail:
              summary: no renderer answered
              value: 'all renderers failed (kitesurf)'

  schemas:
    PageMeta:
      type: object
      description: |
          `as=meta` のレスポンス。抽出できなかったキーは空文字列 `""` になる。
          オリジン HTML に `og:title` も `<title>` も無い場合は Browser Rendering で
          レンダリング後の DOM から再抽出し、オリジン HTML 側で取得済みの値を優先して空欄のみ埋める。
          各 OGP キーは `meta[property=...]` → `meta[name=...]` の順で探索する。
          YouTube の動画 URL では oEmbed の結果を同じ形に整えて返す
          (`title` は `"<動画タイトル> - YouTube"`, `ogTitle` は動画タイトル,
          `ogSiteName` は `"YouTube"`, `ogImage` はサムネイル URL。
          oEmbed は description を返さないため `ogDescription` / `description` は空)。
      required: [title, ogTitle, ogDescription, ogSiteName, ogImage, description, finalUrl]
      properties:
        finalUrl:
          type: string
          description: |
            リダイレクトを追従した後に実際に到達した最終URL。
            リダイレクトが観測できない場合（oEmbed 経由やモック等）は要求されたURLを返す。
          example: 'https://x.com/jack/status/20'
        title:
          type: string
          description: '`<title>` のテキスト'
          example: 'jack on X: "just setting up my twttr" / X'
        ogTitle:
          type: string
          description: '`og:title`'
          example: 'jack (@jack) on X'
        ogDescription:
          type: string
          description: '`og:description`'
          example: 'just setting up my twttr'
        ogSiteName:
          type: string
          description: '`og:site_name`'
          example: 'X (formerly Twitter)'
        ogImage:
          type: string
          description: '`og:image`'
          example: 'https://pbs.twimg.com/profile_images/1661201415899951105/azNjKOSH_400x400.jpg'
        description:
          type: string
          description: '`meta[name=description]`'
          example: 'just setting up my twttr'
    ProxyError:
      type: object
      properties:
        message:
          type: string
          example: 'invalid as value: foo. allowed: html, meta, md'
